body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Heue,sans-serif;
}

ul {
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 2.5% 17.5% 0 17.5%;
}

.new {
  padding: 0 15% 0 15%;
}

/************ HEADER CSS ***********/

.header-text {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 2em;
  font-weight: bold;
}

.main-title {
  color: #50E3A4;
}

.date-block {
  text-align: center;
}

.big-day {
  font-size: 3em;
  margin-right: 1%;
}

.weekday {
  font-variant: small-caps;
  text-align: right;
}
.date-numbers, .date-container {
  text-align: left;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}

.month-year-container {
  flex-direction: column;
}

/************ STOP HEADER CSS ***********/

.slash-list-name {
  color: #BABABA;
  /*font-size: .95em;*/
}
.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  /*display: block;*/
  padding: 7px 0;
  margin: 10px auto;
}

.listOfListsItem {
  background-color: #50E3A4;
  color: white;
  margin-top: 5px;
  padding: 3% 0 3% 0;
  text-align: center;
  border-radius: 3px;
  font-size: 1.5em;
  box-sizing: border-box;
  list-style-type: none;
}

.listOfListsItemText {
  background-color: #50E3A4;
  color: white;
  text-align: center;
  font-size: 1.5em;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none;
  /*padding: 0px;*/
  border-width: 0px;
  border-style: none;
  border-color: none;
  border-image: none;
}

.add-list-btn {
  text-align: center;
  margin-top: 2%;
  /*display: flex;
  justify-content: center;*/
}

.plus-svg {
  width: 65px;
}

.list-name {
  font-weight: bold;
  color: #0a0a0a;
  /*background: #0a0a0a;*/
  /*text-align: center;*/
  /*border-radius: 3px;
  border: none;*/
  /*margin: 10px auto;*/
  /*padding: 2% 3% 2% 3%;*/
  font-size: 1.85em;
}

.list-title-div {
  text-align: center;
}

.focus {
  padding-left: 10px;
}

.listEntryInput input[type="text"] {
  padding: 3% 0 3% 2%;
  border: solid 1px #fff;
  box-shadow: inset 1px 0px 2px 1px #404040;
  transition: box-shadow 0.3s;
}
.listEntryInput input[type="text"]:focus,
.listEntryInput input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

input[type="text"] {
  display: block;
  margin-top: 5px;
  width: 100%;
  /*font-family: sans-serif;*/
  padding: 3% 0 3% 0;
  font-size: 1.5em;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
}

/* ****** DELETE BUTTON *******/

.list-icon-right {
  font-size: inherit;
  float: right;
  padding-right: 2%;
  box-sizing: border-box;
}

.list-icon-left {
  font-size: inherit;
  float: left;
  padding-left: 2%;
  box-sizing: border-box;
}

.delete, .edit {
  opacity: 0.5;
}

.delete:hover, .edit:hover {
  opacity: 1;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
  .listOfListsItem {
    padding: 5% 1% 5% 1%;
    font-size: 1em;
  }
  .new {
    padding: 0 5% 0 5%;
  }
  .header {
    padding: 2.5% 10% 0 10%;
  }
  .big-day {
    font-size: 2em;
  }
  .plus-svg {
    width: 50px;
  }
  .header-text {
    font-size: 1.5em;
    font-weight: bold;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
  .listOfListsItem {
    /*font-size: 1em;*/
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
  .new {
    padding: 0 5% 0 5%;
  }
  .header {
    padding: 2.5% 10% 0 10%;
  }
}

@media only screen
and (max-width : 576px) {
  .listOfListsItem{
    font-size: 1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
